body {
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  border-style: none;
  padding: 1.5vh;
  cursor: pointer;
  margin: 1vh;
  background-color: antiquewhite;
}

.container {
  text-align: center;
}

input {
  border-style: none;
  border: 1px solid black;
  padding: 1.5vh;
  outline-style: none;
  width: 25vw;
}
